

/*for validity checkers, this is my styl.css*/
html, body {
  margin: 0;
  padding: 0;
} 

a:link, a:visited {
    background-color: #ffdd00;
    color: black;
    padding: 1em 0.75em;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    text-decoration: none;
    border-radius:0.5em;
    display: inline-block;
}

    a:hover, a:active {
    background-color: red;
}


header {
  border-top: 0.5em solid #0057b7;
  margin-top: -.5em;
  border-bottom: 1em solid #ffdd00;
  text-align: center;
  position: relative;
  margin-bottom:0;
  height: 5em;
  clear: both;
  background-color: #0057b7;
  
} 


footer {
  color: white;
  border-top: 1em solid #ffdd00;
  text-align: center;
  position: relative;
  bottom:0;
  margin-bottom: 0;
  height: 5em;
  clear: both;
  background-color: #0057b7;
}

.merriweather-bold {
  font-family: "Merriweather", Georgia, serif;
  font-weight: 700;
  font-style: normal;
}

.crimson-text-regular {
  font-family: "Crimson Text", Times, serif;
  font-weight: 400;
  font-style: normal;
}


/*element selector
    examples shown above, applies to entire element
*/
/*class selector
    denoted by a period ".", can be assigned to an
    element in html
*/
/*id selector
    denoted by pound key "#", can be assigned to an
    element in html
*/
/*you can have multiple elements of the same class,
    however, you should aim to have ids be unique
*/
